@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Comic Neue", cursive;
}

button:focus, button:active {
    outline: none; 
}

/* realizar scroll suave na minha pagina html */
html {
    scroll-behavior: smooth;
}


.container-grid {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*estilazão do header*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #0C1C28;
}

nav {
    display: flex;
    justify-content: end;
    width: 100%;
}

nav ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav ul li a {

    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}


.container-menu>button {
    width: 2.5rem;
    height: 1.5rem;
    border: none;
    background-color: transparent;
    margin-right: 0.5rem;
    cursor: pointer;
}

.container-menu>button img {
    width: 100%;
    height: 100%;
}

/*estilazão do banner main*/

.container-banner {
    width: 100%;
    height: 45rem;
    background-image: url(/assets/imagens/Banner.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.titulos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
}

.container-titulos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;

}

.titulos>div h1 {
    font-size: 64px;
}

.titulos>div h2 {
    font-weight: 400;
    font-size: 36px;
}

.botao-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}

.botao-banner>button {
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 600;
    width: 240px;
    height: 50px;
}

.botao-banner>button:hover {
    transition: 0.8s;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.botao-descer>a {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 60px;
    color: white;
    width: 60px;
}

.seta {
    display: inline-block;
    transform: rotate(90deg);
}

.seta:hover {
    color: #0C1C28;
}

/*estilo do container principal o main*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0C1C28;
    gap: 30px;
}

.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #0C1C28;
}

.container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 10px;
    gap: 10px;
    width: 280px;
    height: 280px;
}

.cards>h3 {
    font-weight: 400;
}

.cards>button {
    height: 31px;
    width: 129px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
}

.cards>button:hover {
    transition: 0.8s;
    color: #0C1C28;
    background-color: white;
}

article {
    margin-top: 80px;
    color: white;
    text-align: center;
}

article h1 {
    font-size: 48px;
}

article span {
    color: #38A1C6;
}

article p {
    font-size: 16px;
    width: 53%;
}

/*estilo dos cards de imagem*/

.container-cardsImagem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.cardsImagem {
    height: 296px;
    width: 270px;
    font-size: 14px;
    color: white;
}

/*estilo dos cards de pessoas*/

.container-cardsPessoas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.cardsPessoas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 368px;
    height: 450px;
    border-radius: 16px;
    background-color: white;
    color: #0C1C28;

}

.cardsPessoas .cardImagem {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.cardsPessoas .cardSobre {
    width: 80%;
    height: 200px;
}

.cardsNome h5 {
    font-size: 16px;
    font-weight: 600;
}

/*estilo do formulario*/

.container-banner-form {
    margin-top: 150px;
    width: 100%;
    height: 40rem;
    background-image: url(/assets/imagens/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    background-color: #0C1C28;
    height: 500px;
    width: 80%;

}

.larger-input {
    width: 100%;
}

.fomr-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.fomr-container input {
    height: 50px;
    border: 2px solid white;
    background-color: transparent;
}

.fomr-container textarea {
    border: 2px solid white;
    max-height: 130px;
    background-color: transparent;
}


.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container-footer p {
    color: white;
    font-size: 20px;
    margin: 0;
}

form .botao-form {
    border: none;
    width: 297px;
    height: 60px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 30px;
    background-color: white;
}

.botao-form:hover {

    transition: 0.8s;
    border: 2px solid white;
    color: white;
    background-color: #0C1C28;
}

textarea {
    min-height: 130px;
    height: 130px;
}

form {
    outline: none;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*estilo do footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C1C28;
    height: 70px;
}

/*para telas menores que 800px*/
@media (max-width:800px) {

    /*estilo do header*/
    nav ul{
        position: absolute;
        width: 100%;
        height: 14%;
        top: 100;
        left: 0;
        transform: translateX(-100%);
        display: none;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in;
        background-color: #0C1C28;
    }
    nav ul {
        transform: translateX(0);
    }

    nav ul li {
        padding: 10px;
    }
    nav ul li a {
        font-size: 18px;
        color: white;
    }

    .container-menu {
        position: relative;
    }

    /* removendo hover */
    .botao-banner>button:hover,
    .cards>button:hover,
    form .botao-form:hover {
        background-color: transparent; 
        border: 1px solid white; 
        color: white; 
        transition: none; 
    }

    /*estilazão do banner main*/
    .container-titulos {
        margin-top: 30%;
    }
    
    .titulos>div h1 {
        font-size: 50px;
    }
    
    .titulos>div h2 {
        font-weight: 400;
        font-size: 24px;
    }

    .botao-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
    }

    .botao-banner>button {
        cursor: pointer;
        background-color: white;
        border: none;
        border-radius: 30px;
        font-size: 20px;
        font-weight: 600;
        width: 200px;
        height: 50px;
    }

    .botao-descer>a {
        font-size: 50px;
    }

    /*estilo dos cards de pessoas*/
    .cardsPessoas {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        width: 300px;
        height: 400px;
        border-radius: 16px;
        background-color: white;
        color: #0C1C28;
    
    }
    
    .cardsPessoas .cardImagem {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    
    }

    .cardImagem img {
        width: 100%;
        height: 100%;
    }
    
    .cardsPessoas .cardSobre {
        width: 80%;
        height: 200px;
        font-size: 14px;
    }
    
    .cardsNome h5 {
        font-size: 16px;
        font-weight: 600;
    }

    /*formulario*/

    form .botao-form {
        border: none;
        width: 297px;
        height: 60px;
        font-size: 20px;
        font-weight: 600;
        width: 200px;
        height: 50px;
        border-radius: 30px;
        background-color: white;
    }
    

    /*estilo do footer*/
    .container-footer> p {
        font-size: 15px;
    }

}